button{
    width: 100px;
    height: 100px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.span{
    background-color: red;
    font-size: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}